@import 'bootstrap-sprockets';
@import 'bootstrap';

.cat-stars {
  li {
    text-align: center;
    h3 {
      text-align: center;
    }
    a {
      img {
        border-radius: 50%;
        display: block;
        height: 100%;
        max-width: 263px;
        min-height: 263px;
        overflow: hidden;
        width: 100%;
        transition: all 0.25s ease;
        -webkit-transform: translate3d(0, 0, 0);

        &:hover {
          border:15px solid #286090;
          box-shadow: 0 0 16px;
        }
      }
    }
  }
}

h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue"!important;
  font-weight: normal;
}